{% load static %}
<!-- {% load socialaccount %} -->
<!-- Sign in / Register Modal -->
<div id="fb-root"></div>
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                    aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                    aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form action="#" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="singin-email">Email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password" name="password"
                                            required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" id="login" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember
                                                Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="{% url 'auth:forgotPassword' %}" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->

                                        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>


                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form id="register_form" action="#" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="register-fullname">Full Name *</label>
                                        <input type="text" class="form-control" id="register-fullname" name="full_name" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email">Email address *</label>
                                        <input type="text" class="form-control" id="register-email" name="email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password1">Password *</label>
                                        <input type="password" class="form-control" id="register-password1" name="password"
                                            required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password2">Confirm Password *</label>
                                        <input type="password" class="form-control" id="register-password2" name="password2"
                                            required>
                                    </div>
                                    <!-- End .form-group -->


                                    <div class="form-choice">
                                        <div class="col-sm-6">
                                            <button type="submit" id="signup" class="btn btn-outline-primary-2">
                                                <span>Register</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div><!-- End .form-choice -->
                                </form>

                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('#login').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var email = $.trim($('#singin-email').val());
        var password = $.trim($('#singin-password').val());
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            type: "POST",
            url: "{% url 'auth:login' %}",
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'email': email,
                'password': password,
            },
            success:function(response){
                console.log(',,,,,,,,,,,,,,,,');
                console.log(response.is_superadmin);
                if(response.is_superadmin == true) location.href = "{% url 'admin:index' %}";
                else location.href = "{% url 'auth:dashboard' %}";
                {% comment %} location.reload(); {% endcomment %}
            }

        });

    });

    $('#register_form').submit(function (e) {
        e.preventDefault();
        e.stopPropagation();
        var spinner='<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div> Please Wait ...'
        $('#signup').html(spinner);
        var full_name = $.trim($('#register-fullname').val());
        var email = $.trim($('#register-email').val());
        var password = $.trim($('#register-password1').val());
        var confirm_password = $.trim($('#register-password2').val());
        const csrftoken = getCookie('csrftoken');

        $.ajax({
            type: "POST",
            url: "{% url 'auth:register' %}",
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'full_name': full_name,
                'email': email,
                'password': password,
                'confirm_password': confirm_password,

            },
            success:function(message){  
                $('#signup').html("Register"); 
                alert(message.message);
                location.reload();
            },
            

        });

    });
</script>
{% endblock javascript %}