{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Review your order<span>And Checkout</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="summary-title">Billing Address</h2>

                        <div class="card-body">
                            <p class="card-text mb-0">{{order.full_name}}</p>
                            <p class="card-text mb-0">{{order.full_address}}</p>
                            <p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
                            <p class="card-text mb-0">{{order.country}}</p>
                            <p class="card-text mb-0">{{order.email}}</p>
                            <p class="card-text mb-0">{{order.phone}}</p>
                            {% if order.order_note %}
                            <b>Order Note: </b> {{order.order_note}}
                            {% endif %}


                        </div>
                        <h2 class="summary-title">Your Order</h2>
                        <div class="card-body">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for cart_item in cart_items%}
                                    <tr>
                                        <td class="product-col">
                                            <div class="product">
                                                <figure class="product-media">
                                                    <a href="#">
                                                        <img src="{{cart_item.product.image.url}}" alt="Product image">
                                                    </a>
                                                </figure>
                                                <h3 class="product-title">
                                                    <a
                                                        href="{{ cart_item.product.get_url }}">{{cart_item.product.name}}</a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>
                                        <td class="price-col">Rs. {{cart_item.product.price}}</td>
                                        <td class="price-col">{{ cart_item.quantity }}</td>


                                        <td class="total-col">Rs. {{cart_item.sub_total}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table><!-- End .table table-wishlist -->



                        </div>
                    </div><!-- End .col-lg-9 -->






                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">

                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>Rs. {{total}}</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-subtotal">
                                        <td>Tax:</td>
                                        <td>Rs. {{tax}}</td>
                                    </tr>

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>Rs. {{grand_total}}</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <div class="accordion-summary" id="accordion-payment">
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="card-title">
                                            <button onclick="sendData1()" id="cod-button"
                                                class="btn btn-outline-primary-2 btn-order btn-block">
                                                Cash on delivery
                                            </button>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <hr>
                                    <div class="card-header">
                                        <h2 class="card-title">
                                            <button id="payment-button"
                                                class="btn btn-outline-primary-2 btn-order btn-block"
                                                style="background-color: #5C2D91; cursor: pointer; color: #fff; border: none; padding: 5px 10px; border-radius: 2px">
                                                Pay with Khalti
                                            </button>
                                        </h2>
                                    </div><!-- End .card-header -->

                                </div><!-- End .card -->




                            </div><!-- End .accordion -->

                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock content%}

{% block javascript %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var amount = "{{ grand_total }}"
    var url = "{% url 'orders:payments' %}"
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{order.order_number}}"
    var payment_method = 'cash on delivery'
    var redirect_url = "{% url 'orders:order_complete' %}"

    function sendData1() {
        console.log("sending data");
        fetch(url, {
            method: "POST",
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
                orderID: orderID,
                transID: orderID,
                payment_method: payment_method,
                status: "due",
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
            });
    };



</script>

<script>
    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_efca9926e4864d1b8e684f00fcce9506",
        "productIdentity": "1234567890",
        "productName": "Dragon",
        "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
        "paymentPreference": [
            "KHALTI",
            // "EBANKING",
            // "MOBILE_BANKING",
            // "CONNECT_IPS",
            // "SCT",
        ],
        "eventHandler": {
            onSuccess(payload) {
                // hit merchant api for initiating verfication
                console.log(payload);
                sendData();
                function sendData() {
                    console.log("sending data");
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-type": "application/json",
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify({
                            orderID: orderID,
                            transID: payload.idx,
                            payment_method: payment_method,
                            amount: amount,
                            token: payload.token,
                            status: "Paid",
                        }),
                    })
                        .then((response) => response.json())
                        .then((data) => {
                            window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;
                        });
                };

            },
            onError(error) {
                console.log(error);
            },
            onClose() {
                console.log('widget is closing');
            }
        }
    };
    var total = {{ grand_total }} * 100
    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
        // minimum transaction amount must be 10, i.e 1000 in paisa.
        // checkout.show({ amount: total });
        checkout.show({ amount: 20000 });
    }
</script>

{% endblock javascript %}