{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
            {% if userprofile %}
                <div class="text-center" style="align-items: center;">
                    <img class="profile-user-img img-fluid img-circle"
                        src="{{userprofile.profile_picture.url}}"
                        alt="User profile picture" width="150" style="border-radius:50%; margin: auto;">
                </div>
            {% endif %}

      <a class="list-group-item profile" href="#"> Profile </a>
      <a class="list-group-item orders" href="#"> My order history </a>
      <a class="list-group-item" href="#"> Transactions </a>
      <a class="list-group-item" href="#">Settings </a>

		</ul>
		<br>
  </aside>
    <main class="col-md-9 mainone">
      <!-- End .page-content -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="card" style="background-color: beige">
              <div class="card-body">
                <h5 class="card-title">Total Orders</h5>
                <h4>100</h4>
                <a href="">View Orders</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card" style="background-color: aliceblue">
              <div class="card-body">
                <h5 class="card-title">Total Orders</h5>
                <h4>100</h4>
                <a href="">View Orders</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- row.// -->
</div>

{% endblock content%} {% block javascript %}
<script type="application/javascript">
  setTimeout(function () {
    $("#message").fadeOut("medium");
  }, 2500);
</script>

<script>
  $(document).on("click", ".profile", function (event) {
    $.ajax({
      url: "{% url 'auth:userprofile' %}",
      success: function (data) {
        $(".mainone").html(data);
      },
    });
  });

  $(document).on("click", ".orders", function (event) {
    $.ajax({
      url: "{% url 'auth:orders' %}",
      success: function (data) {
        $(".mainone").html(data);
      },
    });
  });
</script>

{% endblock javascript %}>
