   <!-- End .page-content -->
   <div class="col-md-9">
    <div class="row">

        <div class="col-md-6">
            <div class="card"style="
            background-color: beige;
        ">
                <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h4>100</h4>
                    <a href="">View Orders</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card"style="
            background-color: aliceblue;
        ">
                <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h4>100</h4>
                    <a href="">View Orders</a>
                </div>
            </div>
        </div>
        
    </div>
</div>